            /* luknator code quiz with a timer*/
            
            @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
            * {
                margin: 0;
                padding: 0;
                font-family: 'Inter', sans-serif;
                list-style: none;
            }
            
            section {
                width: 80%;
                margin: auto;
            }
            /*cover img*/
            
            .imgcover {
                box-shadow: saddlebrown 10px 12px 12px 0;
            }
            /* Start Quiz Section */
            
            #active-quiz-section,
            #quiz-results-section {
                display: none;
            }
            
            #start-quiz-section,
            #quiz-results-section {
                width: 70%;
                text-align: center;
                margin: 7% auto 0;
            }
            
            .quiz-description,
            .result-description {
                margin: 2% 0;
                font-size: 1.23em;
                font-weight: 200;
                background-color: rgb(230, 217, 104);
                color: red;
            }
            /* Active Quiz Section */
            
            .sticky {
                position: fixed;
                width: 80%;
                top: 2%;
                z-index: 3;
                pointer-events: none;
            }
            
            .quiz-title {
                font-size: 2em;
                font-weight: 300;
                width: auto;
                text-align: center;
                background-color: red;
                color: white;
            }
            
            .title-exit {
                margin-top: 5%;
            }
            
            .timer-ques-num,
            .title-exit {
                display: flex;
                margin: 2% 0;
                color: red;
                text-shadow: grey 3px 3px 3px 0;
            }
            
            .exit {
                width: 10%;
            }
            
            .exit-format {
                width: 100%;
                text-align: end;
            }
            
            .quiz-timer {
                float: right;
                text-align: end;
                width: 100%;
            }
            
            .quiz-container {
                margin-top: 9%;
                overflow: hidden;
                white-space: nowrap;
            }
            
            .questions>* {
                width: 100%;
                display: inline-block;
                vertical-align: top;
                overflow: auto;
            }
            
            .question-container {
                margin: auto;
                text-align: center;
            }
            
            .question-number {
                width: 100%;
                text-align: left;
            }
            
            .question-response-container {
                margin: 0 0 7%;
            }
            
            .question {
                font-size: 1.6em;
                margin: 3% 0;
            }
            
            h4 {
                font-size: 1.2em;
                font-weight: 400;
                width: 50%;
            }
            
            img {
                width: 550px;
                margin: 3% 0 0 0;
            }
            
            .response-container {
                width: 50%;
                margin: auto;
                margin-left: 25%;
            }
            
            .response {
                width: 50%;
                padding: 4% 0;
                text-align: center;
            }
            
            .response>p {
                display: inline;
                padding-left: 2%;
                font-size: 1.3em;
            }
            
            .left {
                float: left;
            }
            
            .right {
                float: right;
            }
            
            .button-indicator {
                display: flex;
            }
            
            .indicator-container {
                display: inline-flex;
                padding: 1%;
                text-align: center;
                margin: auto;
            }
            /*button setting*/
            
            button {
                padding: 7px;
                width: 20%;
                margin: 1% 0;
                font-size: 0.9em;
                background: #a4f066;
                border: 1px solid #505050;
                pointer-events: auto;
                box-shadow: saddlebrown 6px 6px 6px 0;
            }
            
            button:hover {
                background-color: red;
                color: white;
            }
            
            .next,
            .review {
                float: right;
            }
            
            ul>li {
                display: inline;
                margin: 35px;
            }
            
            .submit {
                margin: 0 0 10% 0;
            }
            /*result section*/
            
            .percent-result {
                font-size: 2em;
                font-weight: 300;
                margin: 2% 0 0 0;
            }
            
            .circle-result {
                color: #c2c2c2;
                font-size: 10em;
                padding: 4%;
            }
            
            .user-result {
                width: 70%;
                text-align: center;
                margin: auto;
            }